.wrap {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 30px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  .cube {
    margin: auto;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
  }
  
  .cube > div {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: white;
    border: solid 2px rgb(66, 15, 87);
    border-radius: 10%;
    color: rgb(66, 15, 87);
  }
  
  .front {
    transform: translateZ(100px);
    background-image: url(./img/solar_system.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .back {
    transform: translateZ(-100px) rotateY(180deg);
    background-image: url(./img/pentagram.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background-image: url(./img/taro_cards.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background-image: url(./img/runes.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .top {
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
    background-image: url(./img/magic_ball.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .bottom {
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
    background-image: url(./img/sun.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @keyframes rotate {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
  
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  .cube {
    animation: rotate 20s infinite linear;
  }
  
  .wrap:hover .front {
    transform: translateZ(200px);
  }
  .wrap:hover .back {
    transform: translateZ(-200px) rotateY(180deg);
  }
  .wrap:hover .right {
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
  }
  .wrap:hover .left {
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
  }
  .wrap:hover .top {
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
  }
  .wrap:hover .bottom {
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
  }
  
  .cube > div {
    transition: transform 0.2s ease-in;
  }
  