* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
}

/* стили секции 1 */
.s1 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: white;
  background-color: #3f3e3e;
  background-image: url(./img/bg-s1.jpg);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

.s1_title {
  text-transform: capitalize;
  font-size: 36px;
  margin: 0 20px;
  font-family: "Gotham Pro Bold";
  padding-top: 74px;
  padding-bottom: 26px;
}

.s1_title span{
  text-transform: lowercase;
}

.s1 p {
  min-width: 280px;
  font-family: monospace;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 70px;
  margin: 0 20px;
  padding-bottom: 136px;
  position: relative;
}

.s1_bottom-element {
  display: block;
  margin: 0 auto;
  padding-bottom: 66px;
  position: relative;
}

/*стили секции 2*/

.s2 {
  text-align: center;
  background-color: rgb(66, 15, 87);
  color: white;
}

.s2_title {
  display: block;
  text-align: center;
  padding-top: 67px;
  margin-bottom: 50px;
  font-family: "Gotham Pro Bold";
  font-size: 30px;
}

.s2_p_title,
.s2_p {
  font-family: monospace;
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 20px;
}

.s2_p_title {
  font-weight: bold;
}

.s2 img {
  width: 280px;
  height: 270px;
  padding-bottom: 70px;
}

/*стили секции 3*/

.s3 {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: white;
  background-color: #535353;
  background-image: url(./img/bg_s3.jpg);
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
}

.ant-carousel {
  width: auto;
  position: relative;
}

.ant-carousel-list,
.ant-carousel-hider {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.ant-carousel-hider {
  margin: 0 auto;
  width: 320px;
  position: relative;
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
}

.ant-carousel-element {
  display: flex;
  flex-flow: column;
  text-align: flex-start;
  padding: 90px 0;
  margin: 20px;
}

.ant-carousel-element img {
  width: 280px;
  height: 230px;
  position: sticky;
}

.ant-carousel-element img:hover {
  box-shadow: inset 0 0 0 20px white;
}

.ant-carousel-element p {
  color: white;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-top: 10px;
  padding-left: 50px;
}

.ant-carousel-element p::before {
  content: "";
  position: absolute;
  width: 38px;
  border: 1px solid rgb(247, 223, 8);
  background-color: rgb(247, 223, 8);
  top: 10px;
  left: 0;
}

.ant-carousel-arrow-left,
.ant-carousel-arrow-right {
  width: 24px;
  height: 40px;
  position: absolute;
  cursor: crosshair;
  z-index: 90;
}

/* левая стрелка слайдера */
div.ant-carousel-arrow-left {
  left: -2px;
  top: 44%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png")
    no-repeat;
}

/* правая стрелка слайдера */
div.ant-carousel-arrow-right {
  right: -4px;
  top: 44%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png")
    no-repeat;
}

div.ant-carousel-arrow-left:hover {
  opacity: 1;
}

div.ant-carousel-arrow-right:hover {
  opacity: 1;
}


div.ant-carousel-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 64px;
  z-index: 30;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

span.ant-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: flex;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}

/* стиои секции 5 */
.s5 {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #3e054d;
  padding-top: 30px;
}

.s5_list {
  display: flex;
  flex-flow: column;
  padding-top: 32px;
}

.s5_list li {
  padding-left: 75px;
  padding-bottom: 30px;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 24px;
  color: white;
  position: relative;
}

.s5_list-title {
  padding-left: 32px;
  margin: 0 20px;
  text-transform: uppercase;
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  color: rgba(252, 23, 130, 0.8);
  position: relative;
}

.s5_list-title::after {
  content: "";
  position: absolute;
  width: 40px;
  border: 1px solid rgb(247, 223, 8);
  background-color: rgb(247, 223, 8);
  top: 36px;
  left: 32px;
}

.contacts li {
  position: relative;
  padding-bottom: 7px;
}

.contacts li::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  left: 46px;
}

.contacts li:first-child::before {
  background-image: url(./img/telegram.png);
}

.contacts li:last-child::before {
  background-image: url(./img/instagram.png);
}

.contacts_div {
  margin-left: -35px;
  margin-bottom: 30px;
}

.contacts {
  margin-left: -22px;
  margin-top: -12px;
  font-family: "OpenSans";
}

.contacts li a {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.managers {
  color: #6c6e79;
  font-family: "OpenSans";
  padding-left: 75px;
  padding-bottom: 7px;
  font-size: 13px;
}

.contacts a:hover,
.contacts a:focus {
  color: rgb(247, 223, 8);
  transform: matrix(1.2);
}

.contacts li:last-child p {
  padding-left: 45px;
}

/* стили футера */
footer {
  background-color: black;
  color: grey;
  font-family: "OpenSans";
  font-size: 12px;
  text-align: center;
  padding: 25px 0;
}

/* стили для планшета */
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  /* стили секции 1 */
  .s1 {
    background-image: url(./img/bg_s1_tb.jpg);
  }
  .s1_title {
    font-weight: bold;
    font-size: 50px;
    margin: 0 40px;
    padding-top: 148px;
    padding-bottom: 30px;
  }

  .s1 p {
    font-size: 25px;
  }

  /*стили секции 2*/
  .s2_title {
    padding: 74px 90px;
    margin: 0;
    font-size: 38px;
  }

  .s2_p_title,
  .s2_p {
    font-size: 25px;
  }

  .s2 img {
    width: 360px;
  height: 350px;
  }

  /*стили секции 3*/
  .s3 {
    background-image: url(./img/bg_s3_tb.jpg);
  }

  .ant-carousel {
    position: relative;
  }

  .ant-carousel-hider {
    justify-content: center;
    width: 768px;
  }

  .ant-carousel-element {
    width: 334px;
  }

  .ant-carousel-element img {
    width: 334px;
    height: 240px;
  }

  .ant-carousel-element p {
    margin-top: 18px;
  }

  .ant-carousel-arrow-left,
  .ant-carousel-arrow-right {
    z-index: 98;
  }

  div.ant-carousel-arrow-left {
    left: -2px;
  }

  div.ant-carousel-arrow-right {
    right: -2px;
  }

  /* стиои секции 5 */
  .s5_list {
    margin-top: -20px;
  }
  .s5_list li {
    font-size: 16px;
    line-height: 20px;
  }

  .s5_list-title {
    padding-bottom: 26px;
    font-size: 16px;
    line-height: 28px;
  }

  .managers {
    font-size: 15px;
  }

  /* стили футера */
  footer {
    font-size: 14px;
    font-weight: bold;
    padding: 25px 0;
  }
}

/* стили для desktop */
@media (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }

  /* стили секции 1 */
  .s1 {
    background-image: url(./img/bg_s1_dt.jpg);
  }

  .s1_title {
    font-size: 72px;
    padding: 229px 0 24px 135px;
    margin: 0;
  }

  .s1 p {
    font-size: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }

  /* стили секции 2 */
  .s2_title {
    font-size: 44px;
    padding-top: 78px;
  }

  .s2_p_title,
  .s2_p {
    font-size: 30px;
  }

  /* стили секции 3 */
  .s3 {
    background-image: url(./img/bg_s3_dt.jpg);
  }
  
  .ant-carousel-hider {
    width: 1280px;
  }

  .ant-carousel-element {
    width: 570px;
    margin: 0 25px;
    padding: 85px 0;
  }

  .ant-carousel-element img {
    width: 570px;
    height: 344px;
  }

  div.ant-carousel-arrow-left {
    left: 20px;
  }

  div.ant-carousel-arrow-right {
    right: 20px;
  }

  .ant-carousel-element p {
    font-size: 20px;
  }

  /* стили секции 5 */
  .s5 {
    flex-flow: row wrap;
    height: auto;
    padding: 76px 50px 74px 190px;
    justify-content: space-between;
  }

  .s5_list-title,
  .s5_list,
  .s5_list li {
    width: 296px;
  }

  .list-noTitle li,
  .list-special li {
    font-size: 18px;
  }

  .s5 div,
  .s5_list {
    padding-bottom: 20px;
  }

  .i1::before {
    padding-top: 18px;
  }

  .i8::before {
    padding-top: 25px;
  }

  .first-list {
    margin-top: 70px;
  }

  .second-list {
    margin-top: 50px;
  }

  .contacts_div {
    padding-left: 105px;
  }

  .contacts li a {
    font-size: 20px;
  }

  .contacts {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: auto;
  }

  .contacts li {
    width: auto;
  }

  .managers {
    font-size: 17px;
    padding-left: 20px;
  }

  .contacts li:first-child::after {
    content: "";
    position: absolute;
    border: 1px solid rgb(247, 223, 8);
    background-color: rgb(247, 223, 8);
    height: 28px;
    top: -4px;
    left: 180%;
  }
}

@media (min-width: 1784px) {
  .container {
    min-width: 1784px;
  }
}